# NAME: Accountit
# AUTHOR: Yarmukhamedov
# DESCRIPTION = This Snippet unlocks all Premium features in Accountit app
# UPDATED: 2023-12-08 17:52:36

# SCRIPT
https://api.revenuecat.com/v1/(receipts|subscribers)/* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/Accountit.js

# MITM
hostname = api.apphud.com
