# NAME: Accountit
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks all Premium features in Accountit app
# UPDATED: 2023-12-16 16:03:36

# SCRIPT
https://api.revenuecat.com/v1/(receipts|subscribers)/* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/Accountit-2.js

# MITM
hostname = api.revenuecat.com
