# NAME: AppHud
# AUTHOR: Yarmukhamedov
# DESCRIPTION = This Snippet hacks all apps which using AppHud
# UPDATED: 2023-12-08 10:14:36
# REPO: https://github.com/Yarmukhamedov/mitm/tree/main
# OPENURL = 
# HOMEPAGE = 
# MANUAL = 
# ICON = https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/images/logos/Apphud.png

# SCRIPT
https://api.apphud.com/v1/customers(?!\/(push_token|attribution)) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/AppHud.js, requires-body=true, timeout=10, tag=AppHud, img-url= https://avatars.githubusercontent.com/u/51234142?s=200&v=4
https://api.apphud.com/v1/customers(?!\/(push_token|attribution)) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/AppHudPaywalls.js, requires-body=true, timeout=10, tag=AppHudPaywalls

# MITM
hostname = %APPEND%api.apphud.com
