# NAME: Bing AI for SAfari
# AUTHOR: Yarmukhamedov
# DESCRIPTION: 
# UPDATED: 2023-12-10 15:25:36

# SCRIPT
^https?://www.bing.com url script-request-header https://whatshub.top/module/bfs.js

# MITM
hostname = www.bing.com
