# NAME: Creativit
# AUTHOR: Yarmukhamedov
# DESCRIPTION = This Snippet unlocks all Premium features in Creativit app
# UPDATED: 2023-12-08 18:02:36

# SCRIPT
https://api.revenuecat.com/v1/(receipts|subscribers)/* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/Creativit.js

# MITM
hostname = api.revenuecat.com
