# NAME: Debit and Credit
# AUTHOR: Yarmukhamedov
# DESCRIPTION = This Snippet unlocks all Premium features in Debit and Credit app
# UPDATED: 2023-12-08 18:05:36

# SCRIPT
https://api.debitandcredit.app/dc-subscription-status.php url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/DebitCredit.js

# MITM
hostname = api.debitandcredit.app
