# NAME: AppHud Universal
# AUTHOR: Yarmukhamedov
# DESCRIPTION = This Snippet hacks Finance app which using MIT-M Attack
# UPDATED: 2023-12-08 10:14:36

# SCRIPT
https://api.apphud.com/v1/(customers|subscriptions)/* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/Finance.js

# MITM
hostname = api.apphud.com
