# NAME: IdeaLog
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks Premium subscription in IdeaLog app
# UPDATED: 2023-12-16 16:39:23

#SCRIPT
https://api.revenuecat.com/v1/(receipts|subscribers)/* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/IdeaLog.js

#MITM
hostname = api.revenuecat.com
