# NAME: iTunes
# AUTHOR: Yarmukhamedov
# DESCRIPTION = This Snippet hacks all apps which using Buy iTunes
# UPDATED: 2023-12-09 18:23:36

# SCRIPT
https://buy.itunes.apple.com/verifyReceipt url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/iTunes.js

# MITM
hostname = buy.itunes.apple.com
