# NAME: Macro Factor
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks Premium subscription in Macro Factor app
# UPDATED: 2023-12-16 16:2:23

#SCRIPT
https://api.revenuecat.com/v1/(receipts|subscribers)/* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/MacroFactor.js

#MITM
hostname = api.revenuecat.com
