# NAME: My Diet Coach
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks Premium subscription in My Diet Coach app
# UPDATED: 2023-12-16 16:11:23

#SCRIPT
https://mydietcoach.oracle.bendingspoonsapps.com/v2/purchases/verify/apple url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/MyDietCoach.js

#MITM
hostname = mydietcoach.oracle.bendingspoonsapps.com
