# NAME: PicsArt
# AUTHOR: Yarmukhamedov
# DESCRIPTION = This Snippet hacks PicsArt app
# UPDATED: 2023-12-10 14:21:36

# SCRIPT
^https:\/\/api\.(picsart|meiease)\.c(n|om)\/shop\/subscription\/(validate|apple\/purchases) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/PicsArt.js

# MITM
hostname = api.picsart.c*, api.meiease.c*
