# Script
^https:\/\/api\.(picsart|meiease)\.c(n|om)\/shop\/subscription\/(validate|apple\/purchases) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/PicsArt.js

# Mitm
hostname = api.picsart.c*, api.meiease.c*
