#!name = Revenuecat
#!desc = Revenuecat Universal Hack
#!openUrl = 
#!author = Trionix
#!homepage = 
#!manual = 
#!icon = 

url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/Revenuecat.js
hostname = https:\/\/api\.revenuecat\.com\/v1\/(receipts|subscribers\/(?!.*\/(offerings|attributes|adservices_attribution)$).*)
