# NAME: Solo Learn
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks all Premium features in Solo Learn app
# UPDATED: 2024-10-28 16:43:46

# SCRIPT
https://https://api3.sololearn.com/Profile/GetProfile? url script-response-body https://www.dropbox.com/scl/fi/wwubsw46qqhm2btp7pjbc/Sololearn.js?rlkey=7ux06hny4v3fanuav1zzwigpu&dl=1

# MITM
hostname = https://api2.sololearn.com/v2/kudos/hearts
