# NAME: Solo Learn
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks all Premium features in Solo Learn app
# UPDATED: 2024-10-28 16:43:46

# SCRIPT
https://api3.sololearn.com/Profile/GetProfile? url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/refs/heads/main/scripts/Sololearn.js
https://api2.sololearn.com/v2/kudos/hearts url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/refs/heads/main/scripts/Sololearn2.js

# MITM
hostname = %APPEND%api3.sololearn.com, api2.sololearn.com
