# NAME: VK Music
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks Music subscription in VK app
# UPDATED: 2023-12-10 12:32:45

#SCRIPT
https://api.moosic.io/(user/info|subscription/presentation/current_subscriptions_data) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/VKMusic.js

#MITM
hostname = api.moosic.io
