# NAME: Walletsmith
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks all Premium features in Walletsmith app
# UPDATED: 2026-03-26 17:27:15

# SCRIPT
https://api.revenuecat.com/v1/(receipts|subscribers)/* url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/Walletsmith.js

# MITM
hostname = api.revenuecat.com
