# NAME: Yandex Plus for Navigator
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks Plus subscription in Yandex Navi app
# UPDATED: 2023-12-09 13:41:23

#SCRIPT
(api.plus.yandex.ru/graphql|api.music.yandex.net/account/status) url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/YandexNavi.js

#MITM
hostname = api.music.yandex.net, api.plus.yandex.ru
