# NAME: All In One
# AUTHOR: Yarmukhamedov
# REPO: https://github.com/blackmatrix7/ios_rule_script
# UPDATED: 12 December 2023

# HOST: -
# HTTP-REQUEST-SCRIPT: -
# HTTP-RESPONSE-SCRIPT: -
# REDIRECT: -
# REJECT: -
# MITM: -
# TOTAL: -


# REJECT
# Mail.ru Adblocker
ad.mail.ru url reject
alt-ad.mail.ru url reject

# MITM
hostname = ad.mail.ru, alt-ad.mail.ru,
