# NAME: Mubert
# AUTHOR: Yarmukhamedov
# DESCRIPTION: This Snippet unlocks Premium subscription in Mubert app
# UPDATED: 2023-12-16 16:22:23

#SCRIPT
https://api-app.mubert.com/v2/AppCheckReceipt url script-response-body https://raw.githubusercontent.com/Yarmukhamedov/mitm/main/scripts/Mubert.js

#MITM
hostname = api-app.mubert.com
